<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫CSV出力</title>
    <link th:href="@{css/inventory_export.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="main">ユーザー一覧</a></li>
                <li><a href="orders">注文一覧</a></li>
                <li><a href="products">商品一覧</a></li>
                <li><a href="sales_export">売上CSV出力</a></li>
                <li><a href="inventory_export" class="active">在庫CSV出力</a></li>
            </ul>
        </nav>
        <main>
            <h1 class="page-title">在庫CSV出力</h1>
            <form action="/inventory/export" method="GET">
                <button type="submit">出力</button>
            </form>
        </main>
    </div>
</body>
</html>
