<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="main">ユーザー一覧</a></li>
                <li><a href="orders">注文一覧</a></li>
            </ul>
        </nav>
        <main>
            <h1>商品一覧</h1>
            <table id="productsTable">
                <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名</th>
                        <th>在庫</th>
                        <th>値段</th>
                        <th>注文可否</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </main>
    </div>
    <script th:src="@{js/app.js}"></script>
</body>
</html>
